<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vita | Dashboard</title>
        <link rel="stylesheet" href="styles/main.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="images/logo/favicon/vita-favicon-color.png"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    </head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    
    <section>
        <ul id="messages"></ul>
        <form id="form" action="">
            <input disabled id="username" name="username" value="<%= user %>"><br><br>
            <input id="input" autocomplete="off" /><button id="send">Send</button>
        </form>
    </section>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/chat.js"></script>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>