
    <div id="navLogo">
        <img src="images/logo/vita-high-resolution-logo-white-transparent.png" alt="abz digital group logo in black">
    </div>
    <div id="navBar">
        <nav>
            <ul>
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/weather">Weather</a></li>
                <img onclick="operateMenu()" id="profileIcon" src="<%- profilepic %>" alt="users profile picture">
            </ul>
        </nav>
        <section id="userMenu">
            <ul class="subNav">
                <li class="username"><h3><%= user %></h3></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="/settings">Settings</a></li> 
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </section>
    </div>


    